<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="jpabook" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.hibernate" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <!-- 다음 주석을 풀면 하이버네이트 SQL을 로그로 출력할 수 있다. -->
<!--     
    <logger name="org.hibernate.SQL" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
 -->    
    <!-- 다음 주석을 풀면 하이버네이트 SQL에 바인딩된 파리미터 정보를 로그로 남긴다. -->
<!--     
    <logger name="org.hibernate.type" level="trace" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
 -->
</configuration>
